@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Raleway:wght@100&family=Shizuru&display=swap');
h1{
    font-family: 'Shizuru', cursive;
}
p {
    font-family: 'Shizuru', cursive; 
   

}
body{
    background-color: rgb(223, 235, 222);
}@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Raleway:wght@100&family=Shizuru&display=swap');
h1{
    font-family: 'Shizuru', cursive;
}
p {
    font-family: 'Shizuru', cursive; 
   

}
body{
    background-color: rgb(235, 209, 250);
}